#texto-aviso
{
    h1 
    {
        text-align: center;
        color: $color-titulos;
        font-weight: bold;
        margin-top:-230px; 
        padding: 10px;
        margin-bottom: 20px;
    }
}

.cuadro-politicas
{
    background-color: white;
    margin-top: -20px;
    margin-bottom: 20px;
    box-shadow: 0 0 60px 1px #afafaf;
    max-width: 100%;
    max-width: 90%;
    margin:30px;
    height: auto;
    .contenido-politicas
    {
        font-family: 'Poppins', sans-serif;
        margin-bottom: 30px;
        font-size: 16px;
        text-align: justify
    }
}
