@import "variables";
#seccion-bienestar
{
            background: url(../img/cb/bannerbienestar.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        max-width: 100%; 
        margin-top: -8px;
}