@import "variables";
video
{
    width: 100%;
    height: auto;
}

#conocenos
{
   position: relative;
    .texto-conocenos
    {
        h1
        {
            color: $color-titulos;
            font-family: 'Poppins', sans-serif;
            text-align: justify;
            margin-top: 0px;
            font-weight: bold;
            padding: 150px 0px 0px;
        }
        p
        {
            font-family: 'Poppins', sans-serif;
            text-align: justify;
            padding: 50px 0px 150px;
        }
    }
    .contenedor-imagenes
    { 
        padding: 150px 0px 150px;
        .img1
        {
            width:250px;
            height: 250px;
            border-radius:150px;
            -moz-border-radius: 150px;
            -webkit-border-radius: 150px;
        }
        .img2
        {
            width:300px;
            height: 300px;
            border-radius:150px;
            -moz-border-radius: 150px;
            -webkit-border-radius: 150px;
            margin-top: -40px;
            margin-left: 100px;
        }
    }
}


/*--------------------------
    media querys
---------------------------*/
@media (max-width:1200px)
{
  
}

@media (max-width:992px)
{
    
}


@media (max-width:768px)
{
    #conocenos
    {
        .texto-conocenos
        {
            h1
            {
                padding: 50px 0px 0px;
                text-align: center;
            }
            p{
                padding: 0px 20px;
            }
        }
   
         .contenedor-imagenes
        { 
            padding: 40px 0px;
            .img2
            {
                display: none;
            }
        }
     }
}

@media (max-width:576px)
{
    #conocenos
    {
        .texto-conocenos
        {
            h1
            {
                padding: 50px 0px 0px;
                text-align: center;
            }
            p{
                padding: 0px 20px;

            }
        }
    }
    .contenedor-imagenes
    {
        display: none;
    }
}