@import "variables";
video
{
    width: 100%;
    height: auto;
}

#conocenos
{
   position: relative;
    .texto-conocenos
    {
        h1
        {
            color: $color-titulos;
            font-family: 'Poppins', sans-serif;
            text-align: justify;
            margin-top: 0px;
            font-weight: bold;
            padding: 50px 0px 20px;
            text-transform: uppercase;
        }
        p
        {
            font-family: 'Poppins', sans-serif;
            text-align: justify;
            padding: 50px 0px 150px;
        }
    }
    .contenedor-imagenes
    { 
        padding: 150px 0px 150px;
        .img1
        {
            width:250px;
            height: 250px;
            border-radius:150px;
            -moz-border-radius: 150px;
            -webkit-border-radius: 150px;
        }
        .img2
        {
            width:300px;
            height: 300px;
            border-radius:150px;
            -moz-border-radius: 150px;
            -webkit-border-radius: 150px;
            margin-top: -40px;
            margin-left: 100px;
        }
    }
}

/*-----------------------
    diseños banner
-------------------------*/

.banner1
{
    background-color: #a99f94;
    margin-bottom: 0px;
    h1
    {
        text-align: center;
        font-size: 50px;
        font-family:'Poppins', sans-serif;
        font-weight: bold;
        padding-top: 50px;
        padding: 50px 0px 50px;
    }
}


.banner2
{
     background-color: #a28f7b;
    h1
    {
        text-align: center;
        font-size: 10px;
        font-family:'Poppins', sans-serif;
        font-weight: bold;
        padding-top: 50px;
        padding: 50px 0px 50px;
    }
}

 .colorbanner1
{
    color: #ddcec3;
}

.colorbanner2
{
    color: #f5e4cf;
}

/*-------------------------
        ventanas modal
---------------------------*/

.imagen-modal
{
    width: 100%;
    height: auto;
    margin: 0px auto;
    left: 0px;
    top: 0px;
}

/*-------------------------
        fin ventanas modal
---------------------------*/

/*--------------------------
    media querys
---------------------------*/
@media (max-width:1200px)
{
  
}

@media (max-width:992px)
{
    
}


@media (max-width:768px)
{
    #conocenos
    {
        .texto-conocenos
        {
            h1
            {
                padding: 50px 0px 0px;
                text-align: center;
            }
            p{
                padding: 0px 20px;
            }
        }
   
         .contenedor-imagenes
        { 
            padding: 40px 0px;
            .img2
            {
                display: none;
            }
        }
     }
}

@media (max-width:576px)
{
    #conocenos
    {
      
        .texto-conocenos
        {
            h1
            {
                padding: 50px 0px 0px;
                text-align: center;
            }
            p{
                padding: 0px 20px;

            }
        }
    }
    .contenedor-imagenes
    {
         padding: 40px 0px;
            .img2
            {
                display: none;
            }
    }
    .banner1
    {
        background-color: #a99f94;
        margin-bottom: 0px;
        h1
        {
            text-align: center;
            font-size: 20px;
            font-family:'Poppins', sans-serif;
            font-weight: bold;
            padding-top: 50px;
            padding: 30px 0px 30px;
        }
    }
    .banner2
    {
     background-color: #a28f7b;
     h1
     {
        text-align: center;
        font-size: 10px;
        font-family:'Poppins', sans-serif;
        font-weight: bold;
        padding-top: 50px;
        padding: 50px 0px 50px;
    }
}
}