@import"variables";

#nav-menu{
background-color: $textos-contacto;
.navbar-brand{
    position: absolute;
    text-align: center;
    width: 100%;
}

}

#navbarSupportedContent{
 ul{
    margin: 0 auto;
    display: inline-flex;
    position: relative;
    margin-top: 60px;
    }
}



/*--------------------------
    media querys
---------------------------*/
@media (max-width:1200px)
{
   
}

@media (max-width:992px)
{
    #nav-menu{
        .navbar-brand{
            position: relative;
            width: 0%;
        }
    }

    #navbarSupportedContent{
        ul{
           margin-top: 0px;
           }
       }
    
}


@media (max-width:768px)
{
    #nav-menu{
        .navbar-brand{
            position: relative;
            width: 0%;
        } 
    }
    #navbarSupportedContent{
        ul{
           margin-top: 0px;
           }
       }
   
}

@media (max-width:576px)
{
 
}